doctype html
html
    head
        title 直播整合
        meta(name='renderer', content='webkit')
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-sidebar/css/simple-sidebar.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?6ec333cfb648b319f347fe38658ccc92";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();

    body
        #wrapper
            include sidebar.jade
            block content
            .bot.text-right
                | @Copyright - 吴登广 -&nbsp;
                a(href="http://www.miitbeian.gov.cn/") 浙ICP备16042890号-1
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/javascripts/index.js')


