doctype html
html
    head
        title 直播整合
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-sidebar/css/simple-sidebar.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #wrapper
            include sidebar.jade
            block content
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/javascripts/index.js')
