
#sidebar-wrapper
    ul.sidebar-nav
        li
            a(href='/lol') 英雄联盟
        li
            a(href='/hearthstone') 炉石传说
        li
            a(href='/overwatch') 守望先锋
        li
            a(href='#') DOTA2