-
    var categoryList = [
        {
            name: '英雄联盟',
            path: '/lol'
        }, {
            name: '炉石传说',
            path: '/hearthstone'
        }, {
            name: '王者荣耀',
            path: 'kingglory'
        }, {
            name: '绝地求生',
            path: 'pubg'
        }, {
            name: '守望先锋',
            path: '/overwatch'
        }, {
            name: 'DOTA2',
            path: '/dota2'
        }, {
            name: '魔兽世界',
            path: '/wow'
        }, {
            name: 'CSGO',
            path: '/CSGO'
        }, {
            name: '穿越火线',
            path: '/cf'
        }, {
            name: 'DNF',
            path: '/dnf'
        }, {
            name: '美女',
            path: '/beauty'
        }
    ];

#sidebar-wrapper
    ul.sidebar-nav
        each item in categoryList
            if category && category.path === item.path.substring(1)
                li
                    a.active(href='#{item.path}')= item.name
            else
                li
                    a(href='#{item.path}')= item.name
        li
            a(href='/author') 关于本站